@using GenderPayGap.WebUI.Models.Admin
@using GovUkDesignSystemDotNet
@model GenderPayGap.WebUI.Models.Admin.ChangeOrganisationNameViewModel

@{
    ViewBag.Title = $"Change name - {Model.Organisation.OrganisationName} - Administration - Gender pay gap service";
}

@section BeforeMain {
    @await Html.GovUkBreadcrumbs(new()
    {
        Crumbs = [
            new()
            {
                HtmlOrText = new("Admin"),
                Href = Url.Action("AdminHomePage", "AdminHomepage")
            },
            new()
            {
                HtmlOrText = new(Model.Organisation.OrganisationName),
                Href = Url.Action("ViewOrganisation", "AdminViewOrganisation", new {id = Model.Organisation.OrganisationId})
            },
            new()
            {
                HtmlOrText = new("Name history"),
                Href = Url.Action("ViewNameHistory", "AdminOrganisationName", new {id = Model.Organisation.OrganisationId})
            },
            new()
            {
                HtmlOrText = new("Change name")
            }
        ]
    })
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <span class="govuk-caption-xl">Administration</span>
        <h1 class="govuk-heading-xl">
            Change name
            <br />
            <span class="govuk-!-font-size-27">
                for @(Model.Organisation.OrganisationName)
            </span>
        </h1>

        <form method="post" action="@Url.Action("ChangeNamePost", "AdminOrganisationName", new { id = Model.Organisation.OrganisationId })">
            @(Html.AntiForgeryToken())
            @(Html.HiddenFor(m => m.Action))

            @(await Html.GovUkErrorSummaryIfNeeded([
                nameof(ChangeOrganisationNameViewModel.Reason),
            ]))

            <fieldset class="govuk-fieldset">

                @(await Html.GovUkTextInputFor(
                    m => m.Name,
                    new()
                    {
                        Label = new() { HtmlOrText = new("What is their name?") },
                        FormGroup = new() { Classes = ["govuk-!-margin-bottom-3"] },
                        Autocomplete = "organization"
                    }
                ))
            </fieldset>

            @(await Html.GovUkCharacterCountFor(
                m => m.Reason,
                new()
                {
                    Label = new()
                    {
                        HtmlOrText = new("What is the reason for this change?"),
                    },
                    FormGroup = new()
                    {
                        Classes = ["govuk-!-margin-top-4"]
                    }
                }
            ))

            @(await Html.GovUkButton(new()
            {
                HtmlOrText = new("Confirm and save"),
                Classes = ["govuk-!-margin-bottom-4"]
            }))

            <p class="govuk-body">
                <a href="@Url.Action("ViewOrganisation", "AdminViewOrganisation", new { id = Model.Organisation.OrganisationId })"
                   class="govuk-link">
                    Cancel and return to organisation page
                </a>
            </p>

        </form>

    </div>
</div>

