@using GenderPayGap.WebUI.Models.Admin
@using GovUkDesignSystemDotNet
@model GenderPayGap.WebUI.Models.Admin.ChangeOrganisationNameViewModel

@{
    ViewBag.Title = $"Change name - {Model.Organisation.OrganisationName} - Administration - Gender pay gap service";
}

@section BeforeMain {
    @await Html.GovUkBreadcrumbs(new()
    {
        Crumbs = [
            new()
            {
                HtmlOrText = new("Admin"),
                Href = Url.Action("AdminHomePage", "AdminHomepage")
            },
            new()
            {
                HtmlOrText = new(Model.Organisation.OrganisationName),
                Href = Url.Action("ViewOrganisation", "AdminViewOrganisation", new {id = Model.Organisation.OrganisationId})
            },
            new()
            {
                HtmlOrText = new("Name history"),
                Href = Url.Action("ViewNameHistory", "AdminOrganisationName", new {id = Model.Organisation.OrganisationId})
            },
            new()
            {
                HtmlOrText = new("Change name")
            }
        ]
    })
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <span class="govuk-caption-xl">Administration</span>
        <h1 class="govuk-heading-xl">
            Change name
            <br />
            <span class="govuk-!-font-size-27">
                for @(Model.Organisation.OrganisationName)
            </span>
        </h1>
        
        @(await Html.GovUkErrorSummaryIfNeeded())

        <h2 class="govuk-heading-l">
            This organisation has a different name registered with Companies House
        </h2>

        <form method="post" action="@Url.Action("ChangeNamePost", "AdminOrganisationName", new { id = Model.Organisation.OrganisationId })">
            @(Html.AntiForgeryToken())
            @(Html.HiddenFor(m => m.Action))

            <table class="govuk-table">
                <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header">
                            Current name
                        </th>
                        <td class="govuk-table__cell">
                            @(Model.Organisation.OrganisationName)
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header">
                            Name from Companies House
                        </th>
                        <td class="govuk-table__cell">
                            @(Model.Name)
                            @(Html.HiddenFor(m => m.Name))
                        </td>
                    </tr>
                </tbody>
            </table>

            @await Html.GovUkRadiosFor(
                m => m.AcceptCompaniesHouseName,
                new()
                {
                    Fieldset = new()
                    {
                        Legend = new()
                        {
                            HtmlOrText = new("Would you like to use this name from Companies House?"),
                            Classes = ["govuk-fieldset__legend--m"]
                        },
                        Classes = ["govuk-!-margin-top-6"]
                    },
                },
                radioItemViewModels: new Dictionary<AcceptCompaniesHouseName, RadioItemViewModel>
                {{
                    AcceptCompaniesHouseName.Accept,
                    new() {
                        Conditional = new(@<div id="reason-for-change-container">
                                              @(await Html.GovUkCharacterCountFor(
                                                  m => m.Reason,
                                                  new()
                                                  {
                                                      Label = new()
                                                      {
                                                          HtmlOrText = new("What is the reason for this change?"),
                                                          Classes = ["govuk-label--m"]
                                                      },
                                                      Hint = new()
                                                      {
                                                          HtmlOrText = new("(Only required if you are using the address from Companies House)")
                                                      }
                                                  }
                                              ))
                                          </div>)
                    }
                }}
            )

            @(await Html.GovUkButton(new()
            {
                HtmlOrText = new("Continue"),
                Classes = ["govuk-!-margin-bottom-4"]
            }))

            <p class="govuk-body">
                <a href="@Url.Action("ViewOrganisation", "AdminViewOrganisation", new { id = Model.Organisation.OrganisationId })"
                   class="govuk-link">
                    Cancel and return to organisation page
                </a>
            </p>

        </form>

    </div>
</div>
