@using GenderPayGap.Core
@using GenderPayGap.Core.Helpers
@using GenderPayGap.Database
@using GenderPayGap.WebUI.Helpers
@using GenderPayGap.WebUI.Models.ViewReports
@using GovUkDesignSystemDotNet
@model GenderPayGap.WebUI.Models.ManageOrganisations.ManageOrganisationViewModel

@{
    ViewBag.Title = "Manage your employers - Gender pay gap service";
    string encryptedOrganisationId = Encryption.EncryptId(Model.Organisation.OrganisationId);
}

@section BeforeMain {
    @await Html.GovUkBreadcrumbs(new()
    {
        Crumbs = [
            new()
            {
                HtmlOrText = new("Manage Employers"),
                Href = Url.Action("ManageOrganisationsGet", "ManageOrganisations")
            },
            new()
            {
                HtmlOrText = new(Model.Organisation.OrganisationName)
            }
        ]
    })
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

        <h1 class="govuk-heading-xl">
            Manage your employer's reporting
            <br>
            <span class="govuk-!-font-size-27">
                for @(Model.Organisation.OrganisationName)
            </span>
        </h1>
    
        
        <h2 class="govuk-heading-l">
            Your employer's reports
        </h2>

        @{
            int currentReportingYear = ReportingYearsHelper.GetCurrentReportingYear(Model.Organisation.SectorType);
            int numberOfReportingYearsToShow = 4;
            int firstReportingYearToShow = currentReportingYear - numberOfReportingYearsToShow + 1;
            int reportingYearsHidden = 0;
        }

        @foreach (int reportingYear in ReportingYearsHelper.GetReportingYears(Model.Organisation.SectorType).OrderByDescending(y => y))
        {
            bool hideReportingYear = reportingYear < firstReportingYearToShow;
            if (hideReportingYear)
            {
                reportingYearsHidden++;
            }
            
            <div class="block-for-reporting-year @(hideReportingYear ? "govuk-visually-hidden" : null)">
                <h3 class="govuk-heading-m govuk-!-font-size-27 govuk-!-margin-top-8">
                    Reporting year @(ReportingYearsHelper.FormatYearAsReportingPeriod(reportingYear))
                </h3>
                
                <div class="govuk-inset-text govuk-!-padding-top-1 govuk-!-padding-bottom-1 govuk-!-margin-top-0">
                    <dl class="govuk-summary-list"
                        style="width: unset;">
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key"
                                style="width: 150px;">
                                Deadline
                            </dt>
                            <dd class="govuk-summary-list__value">
                                <span class="govuk-!-margin-right-2">
                                    @Model.GetDeadlineDateFormatted(reportingYear)
                                </span>
                                
                                <span>
                                    @Model.GetDeadlineRelativeDaysIfNeeded(reportingYear)
                                </span>
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key"
                                style="width: 150px;">
                                Status
                            </dt>
                            <dd class="govuk-summary-list__value">
                                @(await Html.GovUkTag(Model.GetOverallStatusTagForYear(reportingYear)))
                            </dd>
                        </div>
                    </dl>
                </div>

                <ul class="govuk-task-list">
                    @{
                        string declareScopeStatusId = $"declare-scope-{reportingYear}-status";
                    }
                    <li class="govuk-task-list__item govuk-task-list__item--with-link">
                        <div class="govuk-task-list__name-and-hint">
                            @if (ReportingYearsHelper.CanChangeScope(Model.Organisation.SectorType, reportingYear))
                            {
                                <a href="@(Url.Action("DeclareScopeForYearGet", "Scope", new {encryptedOrganisationId, reportingYear = reportingYear}))"
                                   class="govuk-link govuk-task-list__link"
                                   aria-describedby="@(declareScopeStatusId)">
                                    Declare if your organisation is required to report this year
                                </a>
                            }
                            else
                            {
                                <span aria-describedby="@(declareScopeStatusId)">
                                    Declare if your organisation is required to report this year
                                </span>
                            }
                        </div>
                        <div class="govuk-task-list__status" id="@(declareScopeStatusId)">
                            <div style="display: flex; flex-wrap: wrap; justify-content: end; margin: -6px;">
                                @if (Model.ShowScopeDeclarationStatus(reportingYear))
                                {
                                    <div style="margin: 6px;">
                                        @(await Html.GovUkTag(Model.GetScopeDeclarationStatusTag(reportingYear)))
                                    </div>
                                }
                                @if (Model.ShowScopeStatus(reportingYear))
                                {
                                    <div style="margin: 6px;">
                                        @(await Html.GovUkTag(Model.GetScopeStatusTag(reportingYear)))
                                    </div>
                                }
                            </div>
                        </div>
                    </li>
                    
                    @{
                        string gpgReportStatusId = $"gpg-report-{reportingYear}-status";
                        string gpgReportHintId = $"gpg-report-{reportingYear}-hint";
                    }
                    <li class="govuk-task-list__item govuk-task-list__item--with-link">
                        <div class="govuk-task-list__name-and-hint">
                            @if (Model.AbleToReportGpg(reportingYear))
                            {
                                <a href="@(Url.Action("ReportingStart", "ReportStarting", new {encryptedOrganisationId, reportingYear = reportingYear}))"
                                   loadtest-id="create-report-@(reportingYear)"
                                   class="govuk-link govuk-task-list__link"
                                   aria-describedby="@((Model.ShowCovidMessage(reportingYear) ? gpgReportHintId : "")) @(gpgReportStatusId)">
                                    Gender Pay Gap report
                                </a>
                            }
                            else
                            {
                                <span aria-describedby="@((Model.ShowCovidMessage(reportingYear) ? gpgReportHintId : "")) @(gpgReportStatusId)">
                                    Gender Pay Gap report
                                </span>
                            }

                            @if (Model.ShowCovidMessage(reportingYear))
                            {
                                <div id="@(gpgReportHintId)" class="govuk-task-list__hint">
                                    The deadline for 2019-20 was
                                    @(ReportingYearsHelper.GetDeadline(Model.Organisation.SectorType, 2019).ToString("d MMMM yyyy")).
                                    Due to Coronavirus (COVID-19), enforcement of reporting deadlines does not
                                    apply to employers in the 2019-20 reporting year.
                                </div>
                            }
                        </div>
                        <div class="govuk-task-list__status" id="@(gpgReportStatusId)">
                            @if (Model.AbleToReportGpg(reportingYear))
                            {
                                @await Html.PartialAsync("ReportStatusBadge",
                                    new ReportStatusBadgeViewModel
                                    {
                                        ReportStatusTag = ReportStatusTagHelper.GetReportStatusTag(Model.Organisation, reportingYear),
                                        ReportSubmittedDate = Model.Organisation.GetReturn(reportingYear)?.Modified,
                                        DeadlineDate = ReportingYearsHelper.GetDeadline(Model.Organisation.SectorType, reportingYear),
                                        HasDraft = Model.HasDraftGpgReport(reportingYear)
                                    })
                            }
                            else
                            {
                                <strong class="govuk-tag govuk-tag--grey"
                                        style="max-width: unset;">
                                    Cannot start yet
                                </strong>
                            }
                        </div>
                    </li>
                    @{
                        string actionPlanHintId = $"action-plan-{reportingYear}-hint";
                        string actionPlanStatusId = $"action-plan-{reportingYear}-status";
                    }
                    @if (Model.ShowActionPlanRow(reportingYear))
                    {
                        <li class="govuk-task-list__item govuk-task-list__item--with-link">
                            <div class="govuk-task-list__name-and-hint">
                                @if (Model.AbleToCreateActionPlan(reportingYear))
                                {
                                    <a href="@(Url.Action("ActionPlanIntroGet", "ActionPlan", new {encryptedOrganisationId, reportingYear = reportingYear}))"
                                       class="govuk-link govuk-task-list__link"
                                       aria-describedby="@((Model.IsActionPlanOptional(reportingYear) ? actionPlanHintId : "")) @(actionPlanStatusId)">
                                        Action Plan
                                    </a>
                                }
                                else
                                {
                                    <span aria-describedby="@((Model.IsActionPlanOptional(reportingYear) ? actionPlanHintId : "")) @(actionPlanStatusId)">
                                        Action Plan
                                    </span>
                                }
                                
                                @if (Model.IsActionPlanOptional(reportingYear))
                                {
                                    <div id="@(actionPlanHintId)" class="govuk-task-list__hint">
                                        Optional for reporting year @(ReportingYearsHelper.FormatYearAsReportingPeriod(reportingYear))
                                    </div>
                                }
                            </div>
                            <div class="govuk-task-list__status" id="@(actionPlanStatusId)">
                                @(await Html.GovUkTag(Model.ActionPlanStatusTag(reportingYear)))
                            </div>
                        </li>
                    }
                </ul>
            </div>
        }
        
        <div id="see-more-reporting-years-block"
           class="govuk-inset-text govuk-!-margin-top-8"
           style="display: none;">
            <a href="#"
               id="see-more-reporting-years-link"
               class="govuk-link">
                See @(reportingYearsHidden) more reporting years
            </a>
        </div>
        <script>
            document.getElementById("see-more-reporting-years-block").style.display = "block";
            
            document.getElementById("see-more-reporting-years-link").addEventListener("click", function (e) {
                e.preventDefault();
                document.querySelectorAll(".block-for-reporting-year").forEach(function (block) {
                    block.classList.remove("govuk-visually-hidden");
                })
                document.getElementById("see-more-reporting-years-block").style.display = "none";
            })
        </script>

        
        <h2 class="govuk-heading-l govuk-!-margin-top-9">
            Registered users
        </h2>
        
        @{
            List<User> usersRegisteredToReportForOrganisation = Model.GetFullyRegisteredUsersForOrganisationWithCurrentUserFirst();
        }
        
        @if (usersRegisteredToReportForOrganisation.Count == 1)  // If s User can view this page, then there will always be at least 1 User - themselves!
        {
            <p class="govuk-body">
                You are the only person registered to report for this employer.
            </p>
            <p class="govuk-body govuk-!-margin-bottom-2">
                If you remove yourself:
            </p>
            <ul class="govuk-list govuk-list--bullet">
                <li>You will not be able to report for this employer</li>
                <li>Someone else must register to report on behalf of this employer - this can take up to a week</li>
                <li>Your account will remain open</li>
            </ul>
        }
        else
        {
            <p class="govuk-body">
                The following people are registered to report gender pay gap information for this employer:
            </p>
        }
        
        <table class="govuk-table govuk-!-margin-bottom-9">
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">
                        Name
                    </th>
                    <th scope="col" class="govuk-table__header">
                        Email address
                    </th>
                    <th scope="col" class="govuk-table__header">
                        <span class="govuk-visually-hidden">
                            Action
                        </span>
                    </th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                @foreach (User userRegisteredToReport in usersRegisteredToReportForOrganisation)
                {
                    string encryptedUserId = Encryption.EncryptId(userRegisteredToReport.UserId);
                    
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">
                            @(userRegisteredToReport.Fullname)
                            @if (userRegisteredToReport.UserId == Model.User.UserId)
                            {
                                <span>(You)</span>
                            }
                        </th>
                        <td class="govuk-table__cell" style="word-wrap: anywhere;">
                            @(userRegisteredToReport.EmailAddress)
                        </td>
                        <td class="govuk-table__cell">
                            <a href="@Url.Action("RemoveUserFromOrganisationGet", "RemoveUserFromOrganisation", new {encryptedOrganisationId = encryptedOrganisationId, userToRemoveEncryptedUserId = encryptedUserId})"
                               class="govuk-link">
                                Remove user
                                <span class="govuk-visually-hidden">
                                    @(userRegisteredToReport.Fullname)
                                </span>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        
        
        <h2 class="govuk-heading-l govuk-!-margin-top-9">
            Employer details
        </h2>
        
        <details class="govuk-details govuk-!-margin-bottom-4"
                 data-module="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                    Need to make changes to your employer's details?
                </span>
            </summary>
            
            @if (Model.Organisation.SectorType == SectorTypes.Private &&
                 !string.IsNullOrWhiteSpace(Model.Organisation.CompanyNumber) &&
                 !Model.Organisation.OptedOutFromCompaniesHouseUpdate)
            {
                <div class="govuk-details__text">
                    <h3 class="govuk-heading-s">
                        Name or address
                    </h3>
                    <p class="govuk-body">
                        If your company’s name or address is incorrect,
                        <a href="https://www.gov.uk/file-changes-to-a-company-with-companies-house"
                           class="govuk-link">
                            tell Companies House</a>.
                        It may take some time for any changes to show on the gender pay gap service.
                    </p>
                    
                    <h3 class="govuk-heading-s">
                        SIC code
                    </h3>
                    <p class="govuk-body">
                        This service shows the sector your company is in (for example, ‘Manufacturing’) based on your
                        Standard Industrial Classification (SIC) code.
                        It does not show the specific class for your SIC code (for example, ‘Manufacture of leather clothes’).
                    </p>
                    <p class="govuk-body">
                        If you need to change your SIC code, you can do it when you file your next
                        <a href="https://www.gov.uk/file-your-confirmation-statement-with-companies-house"
                           class="govuk-link">
                            confirmation statement</a>.
                        You can file a confirmation statement early if you need to change it sooner.
                    </p>
                </div>
            }
            else
            {
                <div class="govuk-details__text">
                    Please contact
                    <a href="mailto:@(Global.GpgReportingEmail)" class="govuk-link">
                        @Global.GpgReportingEmail
                    </a>
                </div>
            }
        </details>
        
        <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Employer name
                </dt>
                <dd class="govuk-summary-list__value">
                    @(Model.Organisation.OrganisationName)
                </dd>
            </div>
            @if (!string.IsNullOrWhiteSpace(Model.Organisation.CompanyNumber))
            {
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Companies House number
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @(Model.Organisation.CompanyNumber)
                    </dd>
                </div>
            }
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Registered address
                </dt>
                <dd class="govuk-summary-list__value">
                    @foreach (string addressLine in Model.Organisation.GetLatestAddress().GetAddressLines())
                    {
                        @(addressLine)<br/>
                    }
                </dd>
            </div>
            @if (Model.Organisation.GetSicCodes().Any())
            {
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Nature of business
                        <br/>
                        (SIC codes)
                    </dt>
                    <dd class="govuk-summary-list__value">
                        <ul class="govuk-list">
                            @foreach (OrganisationSicCode organisationSicCode in Model.Organisation.OrganisationSicCodes.Where(osc => !osc.IsRetired()))
                            {
                                <li>
                                    <b>@(organisationSicCode.SicCode.SicCodeId)</b>
                                    @(organisationSicCode.SicCode.Description)
                                    <br/>
                                    <span class="govuk-body-s">
                                        part of: @(organisationSicCode.SicCode.SicSection.Description)
                                    </span>
                                </li>
                            }
                        </ul>
                    </dd>
                </div>
            }
        </dl>

    </div>
</div>

