@using GenderPayGap.Core.Helpers
@using GenderPayGap.WebUI.Models.ViewReports
@using GovUkDesignSystemDotNet
@model GenderPayGap.WebUI.Models.ActionPlans.ActionPlanPreviewViewModel

@{
    string encryptedOrganisationId = Encryption.EncryptId(Model.Organisation.OrganisationId);
    string formattedReportingYears = ReportingYearsHelper.FormatYearAsReportingPeriod(Model.ReportingYear);

    ViewBag.Title = $"Action Plan - reporting year {formattedReportingYears} - {Model.Organisation.OrganisationName} - Gender pay gap service";
}

@section BeforeMain {
    @await Html.GovUkBreadcrumbs(new()
    {
        Crumbs =
        [
            new()
            {
                HtmlOrText = new("Manage Employers"),
                Href = Url.Action("ManageOrganisationsGet", "ManageOrganisations")
            },
            new()
            {
                HtmlOrText = new(Model.Organisation.OrganisationName),
                Href = Url.Action("ManageOrganisationGet", "ManageOrganisations", new {encryptedOrganisationId})
            },
            new()
            {
                HtmlOrText = new($"Action plan {formattedReportingYears}"),
                Href = Url.Action("ActionPlanTaskListGet", "ActionPlan", new {encryptedOrganisationId, reportingYear = Model.ReportingYear})
            },
            new()
            {
                HtmlOrText = new("Preview and publish your action plan")
            }
        ]
    })
}

<div class="govuk-grid-row" style="background-image: url('/assets/images/draft-watermark.png'); background-repeat: repeat-y; background-position: 50% 0; background-size: contain;">
    <div class="govuk-grid-column-two-thirds">
        
        <h1 class="govuk-heading-xl">
            Your provisional action plan
            <br/>
            <span class="govuk-!-font-size-27 govuk-!-margin-top-3" style="display: inline-block; line-height: 1.3 !important;">
                Reporting as @(Model.Organisation.OrganisationName)
                <br/>
                for reporting year @(formattedReportingYears)
            </span>
        </h1>
        <p class="govuk-body">
            Your action plan is saved but not yet published.
            You can log out and come back to it at any time.
        </p>
        <p class="govuk-body">
            When you publish your plan, it will be publicly visible on this service.
            You will still be able to edit it.
        </p>
        
        @(await Html.GovUkErrorSummaryIfNeeded())
        
        <p class="govuk-body">
            <a href="@(Url.Action("ManageOrganisationGet", "ManageOrganisations", new {encryptedOrganisationId}))"
               class="govuk-link">
                Return to @(Model.Organisation.OrganisationName)
            </a>
        </p>
        <p class="govuk-body">
            <a href="@(Url.Action("ActionPlanTaskListGet", "ActionPlan", new {encryptedOrganisationId, reportingYear = Model.ReportingYear}))"
               class="govuk-link"
               id="edit-action-plan-link">
                Edit your action plan or add more actions
            </a>
        </p>
        <form method="post"
              action="@(Url.Action("ActionPlanProvisionalPlanPost", "ActionPlan", new {encryptedOrganisationId, reportingYear = Model.ReportingYear}))"
              style="display: contents;">
            @Html.AntiForgeryToken()

            @(await Html.GovUkButton(new()
            {
                HtmlOrText = new HtmlOrText("Publish your action plan"),
                Classes = ["govuk-!-margin-bottom-4"]
            }))
        </form>

        <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

        <h1 class="govuk-heading-l">
            @(Model.Organisation.OrganisationName)
            <br/>
            Action plan @ReportingYearsHelper.FormatYearAsReportingPeriod(Model.ReportingYear)
        </h1>

        @(await Html.PartialAsync("../ViewReports/ActionPlanForYearContent", new ActionPlanForYearContentViewModel
            {
                Organisation = Model.Organisation,
                ReportingYear = Model.ReportingYear,
                ActionPlan = Model.ActionPlan, // We use this ActionPlanForYearContentViewModel because the ActionPlan might be null
            }))
        
    </div>
</div>