@using GenderPayGap.Core.Helpers
@using GovUkDesignSystemDotNet
@model GenderPayGap.WebUI.Models.ActionPlans.ActionPlanIntroViewModel

@{
    string encryptedOrganisationId = Encryption.EncryptId(Model.Organisation.OrganisationId);
    string formattedReportingYears = ReportingYearsHelper.FormatYearAsReportingPeriodLongFormat(Model.ReportingYear);

    ViewBag.Title = $"Create your action plan - reporting year {formattedReportingYears} - {Model.Organisation.OrganisationName} - Gender pay gap service - GOV.UK";
}

@section BeforeMain {
    @await Html.GovUkBreadcrumbs(new()
    {
        Crumbs =
        [
            new()
            {
                HtmlOrText = new("Manage Employers"),
                Href = Url.Action("ManageOrganisationsGet", "ManageOrganisations")
            },
            new()
            {
                HtmlOrText = new(Model.Organisation.OrganisationName),
                Href = Url.Action("ManageOrganisationGet", "ManageOrganisations", new {encryptedOrganisationId})
            },
            new()
            {
                HtmlOrText = new($"Action plan {formattedReportingYears}")
            }
        ]
    })
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        
        <h1 class="govuk-heading-xl">
            Create your action plan
            <br/>
            <span class="govuk-!-font-size-27 govuk-!-margin-top-3" style="display: inline-block; line-height: 1.3 !important;">
                Reporting as @(Model.Organisation.OrganisationName)
                <br/>
                for reporting year @(formattedReportingYears)
            </span>
        </h1>

        <p class="govuk-body">
            Employers with 250 or more employees have the option to produce and publish a voluntary action plan
            alongside their gender pay gap data.
            Subject to legislation, these will become mandatory from spring 2027.
        </p>
        <p class="govuk-body">
            Your plan shows the steps you are taking to:
        </p>
        <ul class="govuk-list govuk-list--bullet">
            <li>address your organisation’s gender pay gap</li>
            <li>support employees experiencing menopause</li>
        </ul>
        <div class="govuk-inset-text">
            <a href="https://www.gov.uk/government/publications/creating-an-action-plan-guidance-for-employers"
               target="_blank"
               class="govuk-link">
                Read more about creating an action plan on GOV.UK (opens in a new window)
            </a>
        </div>

        <h2 class="govuk-heading-m">
            Before you start
        </h2>
        <p class="govuk-body">
            Make sure you:
        </p>
        <ul class="govuk-list govuk-list--bullet">
            <li>
                <a href="https://www.gov.uk/government/publications/creating-an-action-plan-guidance-for-employers/step-1-understand-the-issues-in-your-organisation"
                   target="_blank"
                   class="govuk-link">
                    understand the issues in your organisation (opens in a new window)
                </a>
            </li>
            <li>
                <a href="https://www.gov.uk/government/publications/creating-an-action-plan-guidance-for-employers/step-2-choose-your-actions"
                   target="_blank"
                   class="govuk-link">
                    know which actions you will be selecting (opens in a new window)
                </a>
            </li>
            <li>
                <a href="https://www.gov.uk/government/publications/creating-an-action-plan-guidance-for-employers/step-3-write-a-supporting-narrative"
                   target="_blank"
                   class="govuk-link">
                    have prepared your supporting text (opens in a new window)
                </a>
            </li>
        </ul>

        <p class="govuk-body">
            @(await Html.GovUkButton(new()
            {
                HtmlOrText = new HtmlOrText("Continue"),
                Href = Url.Action("ActionPlanTaskListGet", "ActionPlan", new {encryptedOrganisationId, reportingYear = Model.ReportingYear}),
                Classes = ["govuk-!-margin-bottom-0", "govuk-!-margin-top-4"]
            }))
        </p>
        <p class="govuk-body">
            <a class="govuk-link" href="@Url.Action("ManageOrganisationGet", "ManageOrganisations", new {encryptedOrganisationId})">
               Cancel and return to @(Model.Organisation.OrganisationName)
            </a>
        </p>
    </div>
</div>