@using GenderPayGap.Core
@using GenderPayGap.Core.Helpers
@using GenderPayGap.Database
@using GovUkDesignSystemDotNet
@model GenderPayGap.WebUI.Models.ActionPlans.ActionPlanListViewModel

@{
    string encryptedOrganisationId = Encryption.EncryptId(Model.Organisation.OrganisationId);
    string formattedReportingYears = ReportingYearsHelper.FormatYearAsReportingPeriod(Model.ReportingYear);

    string selectActionsTo;
    switch (Model.ActionTag)
    {
        case ActionTag.GenderPayGap:
            selectActionsTo = "Select actions to reduce your gender pay gap";
            break;
        case ActionTag.Menopause:
            selectActionsTo = "Select actions to support women experiencing menopause";
            break;
        default:
            throw new ArgumentOutOfRangeException();
    }

    ViewBag.Title = $"Action Plan - reporting year {formattedReportingYears} - {Model.Organisation.OrganisationName} - Gender pay gap service";
}

@section BeforeMain {
    @await Html.GovUkBreadcrumbs(new()
    {
        Crumbs =
        [
            new()
            {
                HtmlOrText = new("Manage Employers"),
                Href = Url.Action("ManageOrganisationsGet", "ManageOrganisations")
            },
            new()
            {
                HtmlOrText = new(Model.Organisation.OrganisationName),
                Href = Url.Action("ManageOrganisationGet", "ManageOrganisations", new {encryptedOrganisationId})
            },
            new()
            {
                HtmlOrText = new($"Action plan {formattedReportingYears}"),
                Href = Url.Action("ActionPlanTaskListGet", "ActionPlan", new {encryptedOrganisationId, reportingYear = Model.ReportingYear})
            },
            new()
            {
                HtmlOrText = new(selectActionsTo)
            }
        ]
    })
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        
        <h1 class="govuk-heading-xl">
            @(selectActionsTo)
            <br/>
            <span class="govuk-!-font-size-27 govuk-!-margin-top-3" style="display: inline-block; line-height: 1.3 !important;">
                Reporting as @(Model.Organisation.OrganisationName)
                <br/>
                for reporting year @(formattedReportingYears)
            </span>
        </h1>
        <p class="govuk-body">
            For each action you select, we will ask if it is:
        </p>
        <ul class="govuk-list govuk-list--bullet">
            <li>
                <b>New or in progress</b>
                – this means you will be working on it for the first time or building on something you are already doing
            </li>
            <li>
                <b>Embedded</b>
                – this means it is already an established part of your working practice
            </li>
        </ul>
        <p class="govuk-body">
            You must select at least one action that is ‘new or in progress’.
        </p>
        <div class="govuk-inset-text">
            For each action you select, you must add further details.
        </div>

        @foreach (ActionCategories actionCategory in Enum.GetValues(typeof(ActionCategories)))
        {
            List<ActionDetails> actionDetailsInCategoryWithTag =
                ActionsHelper.ListOfAllActions
                    .Where(ap => ap.Category == actionCategory)
                    .Where(ap => ap.Tags.Contains(Model.ActionTag))
                    .ToList();

            if (actionDetailsInCategoryWithTag.Any())
            {
                <h3 class="govuk-heading-m govuk-!-margin-top-8">
                    @actionCategory.GetDisplayName()
                </h3>
                
                <ul class="govuk-task-list">
                    @foreach (ActionDetails actionDetails in actionDetailsInCategoryWithTag)
                    {
                        ActionInActionPlan actionInActionPlan = Model.ActionPlan?.ActionsInActionPlans?.FirstOrDefault(a => a.Action == actionDetails.Action);
                        string linkToAction = Model.ActionTag == ActionTag.GenderPayGap
                            ? Url.Action("ActionPlanGenderPayGapActionGet", "ActionPlan", new {encryptedOrganisationId, reportingYear = Model.ReportingYear, whichAction = actionDetails.Action,})
                            : Url.Action("ActionPlanMenopauseActionGet", "ActionPlan", new {encryptedOrganisationId, reportingYear = Model.ReportingYear, whichAction = actionDetails.Action,});
                        
                        <li class="govuk-task-list__item govuk-task-list__item--with-link">
                            <div class="govuk-task-list__name-and-hint">
                                <a href="@(linkToAction)"
                                   class="govuk-link govuk-task-list__link">
                                    @(actionDetails.Name)
                                </a>
                            </div>
                            <div class="govuk-task-list__status">
                                @if (actionInActionPlan?.NewStatus == ActionStatus.NewOrInProgress ||
                                     actionInActionPlan?.NewStatus == ActionStatus.Completed)
                                {
                                    @await Html.GovUkTag(new()
                                    {
                                        HtmlOrText = new(actionInActionPlan.NewStatus.GetDisplayName()),
                                        Classes = [actionInActionPlan.NewStatus.GetTagColour()],
                                        Attributes = new() {{"style", "white-space: nowrap; max-width: unset"}},
                                    })
                                }
                                else
                                {
                                    @await Html.GovUkTag(new()
                                    {
                                        HtmlOrText = new("Not added"),
                                        Classes = ["govuk-tag--blue"],
                                        Attributes = new() {{"style", "white-space: nowrap;"}},
                                    })
                                }
                            </div>
                        </li>
                    }
                </ul>
            }
        }
        
        <p class="govuk-body">
            @(await Html.GovUkButton(new()
            {
                HtmlOrText = new HtmlOrText("Continue"),
                Href = Url.Action("ActionPlanTaskListGet", "ActionPlan", new {encryptedOrganisationId, reportingYear = Model.ReportingYear}),
                Classes = ["govuk-!-margin-bottom-0", "govuk-!-margin-top-4"]
            }))
        </p>
        <p class="govuk-body">
            <a class="govuk-link" href="@Url.Action("ManageOrganisationGet", "ManageOrganisations", new {encryptedOrganisationId})">
                Cancel and return to @(Model.Organisation.OrganisationName)
            </a>
        </p>
    </div>
</div>