@using GovUkDesignSystemDotNet
@model GenderPayGap.WebUI.Models.Admin.AdminRemoveUserViewModel

@{
    ViewBag.Title = "Remove user from organisation - Administration - Gender pay gap service";
}

@section BeforeMain {
    @{
        List<CrumbViewModel> crumbs = [
            new()
            {
                HtmlOrText = new("Admin"),
                Href = Url.Action("AdminHomePage", "AdminHomepage")
            }
        ];
        if (Model.FromViewUserPage)
        {
            crumbs.Add(new()
            {
                HtmlOrText = new(Model.UserFullName),
                Href = Url.Action("ViewUser", "AdminViewUser", new {id = Model.UserId})
            });
        }
        else
        {
            crumbs.Add(new()
            {
                HtmlOrText = new(Model.OrganisationName),
                Href = Url.Action("ViewOrganisation", "AdminViewOrganisation", new {id = Model.OrganisationId})
            });
        }
        crumbs.Add(new()
        {
            HtmlOrText = new("Remove user from organisation")
        });
    }

    @(await Html.GovUkBreadcrumbs(new()
    {
        Crumbs = crumbs
    }))
}

<span class="govuk-caption-xl">Administration</span>
<h1 class="govuk-heading-xl">
    Remove a user from an organisation
</h1>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        
        <form method="POST"
              action="@(Model.FromViewUserPage
                            ? Url.Action("RemoveOrganisationFromUserPost", "AdminRemoveUserFromOrganisation", new {userId = Model.UserId, organisationId = Model.OrganisationId})
                            : Url.Action("RemoveUserFromOrganisationPost", "AdminRemoveUserFromOrganisation", new {userId = Model.UserId, organisationId = Model.OrganisationId}))">
            @(Html.AntiForgeryToken())

            @(await Html.GovUkErrorSummaryIfNeeded())

            <table class="govuk-table">
                <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">User</th>
                    <td class="govuk-table__cell">@(Model.UserFullName)</td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Organisation</th>
                    <td class="govuk-table__cell">@(Model.OrganisationName)</td>
                </tr>
                </tbody>
            </table>

            @await Html.GovUkCharacterCountFor(
                m => m.Reason,
                new()
                {
                    Label = new()
                    {
                        HtmlOrText = new("What is the reason for this change?"),
                        Classes = ["govuk-label--m"]
                    },
                })

            @(await Html.GovUkButton(new()
            {
                HtmlOrText = new("Remove user from organisation"),
                Classes = ["govuk-!-margin-bottom-4 govuk-button--warning"],
                PreventDoubleClick = true
            }))

            <p class="govuk-body">
                @if (Model.FromViewUserPage)
                {
                    <a href="@Url.Action("ViewUser", "AdminViewUser", new {id = Model.UserId})"
                       class="govuk-link">
                        Cancel and return to user page
                    </a>
                }
                else
                {
                    <a href="@Url.Action("ViewOrganisation", "AdminViewOrganisation", new {id = Model.OrganisationId})"
                       class="govuk-link">
                        Cancel and return to organisation page
                    </a>
                }
            </p>
            
        </form>
        
    </div>
</div>
