@using GenderPayGap.Core.Helpers
@using GovUkDesignSystemDotNet
@model GenderPayGap.WebUI.Models.Admin.AdminDeleteReturnViewModel

@{
    ViewBag.Title = "Delete returns - Administration - Gender pay gap service";
}

@section BeforeMain {
    @await Html.GovUkBreadcrumbs(new()
    {
        Crumbs = [
            new()
            {
                HtmlOrText = new("Admin"),
                Href = Url.Action("AdminHomePage", "AdminHomepage")
            },
            new()
            {
                HtmlOrText = new(Model.Organisation.OrganisationName),
                Href = Url.Action("ViewOrganisation", "AdminViewOrganisation", new {id = Model.Organisation.OrganisationId})
            },
            new()
            {
                HtmlOrText = new("Returns"),
                Href = Url.Action("ViewReturns", "AdminOrganisationReturn", new {id = Model.Organisation.OrganisationId})
            },
            new()
            {
                HtmlOrText = new("Delete returns")
            }
        ]
    })
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <span class="govuk-caption-xl">Administration</span>
        <h1 class="govuk-heading-xl">
            Delete returns
            <br />
            <span class="govuk-!-font-size-27">
                for @(Model.Organisation.OrganisationName)
            </span>
        </h1>

        <h2 class="govuk-body-m">
            You are about to delete <b>@(Model.ReturnIds.Count)</b> return@(Model.ReturnIds.Count != 1 ? "s" : null)
            <br />
            for @(Model.Organisation.OrganisationName)
            <br />
            for reporting year year @ReportingYearsHelper.FormatYearAsReportingPeriod(Model.Year)
        </h2>

        @(await Html.GovUkErrorSummaryIfNeeded())

        <form method="POST" action="@Url.Action("DeleteReturnsPost", "AdminOrganisationReturn", new {id = Model.Organisation.OrganisationId, year = Model.Year})">
            @(Html.AntiForgeryToken())
            @for(int i = 0; i < Model.ReturnIds.Count; i++)
            {
                @Html.HiddenFor(model => Model.ReturnIds[i])
            }
            <div class="govuk-form-group">

                @await Html.GovUkCharacterCountFor(
                    m => m.Reason,
                    new()
                    {
                        Label = new()
                        {
                            HtmlOrText = new("What is the reason for this change?"),
                            Classes = ["govuk-label--m"]
                        },
                        FormGroup = new()
                        {
                            Classes = ["govuk-!-margin-top-6"]
                        }
                    }
                )

                @(await Html.GovUkButton(new()
                {
                    HtmlOrText = new("Confirm"),
                    Classes = ["govuk-!-margin-bottom-4"],
                    PreventDoubleClick = true
                }))

                <p class="govuk-body">
                    <a href="@Url.Action("ViewOrganisation", "AdminViewOrganisation", new {id = Model.Organisation.OrganisationId})"
                       class="govuk-link">
                        Cancel and return to organisation page
                    </a>
                </p>

            </div>
        </form>
    </div>
</div>
