@using GenderPayGap.WebUI.Cookies
@using GenderPayGap.WebUI.Helpers
@using GovUkDesignSystemDotNet
<!DOCTYPE html>

<!-- Build number: @(BuildNumberHelper.GetBuildNumber()) -->
<!-- VirtualDateTime: @(VirtualDateTime.Now.ToString("s")) -->
<!-- Environment: @(Config.EnvironmentName) -->
<!-- Server name: @(Environment.MachineName) -->

<html lang="en" class="govuk-template govuk-template--rebranded">
<head>
    <meta charset="utf-8" />
    <title>@(ViewBag.Title ?? "Gender pay gap service")</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <meta name="theme-color" content="#1d70b8">
    <link rel="icon" sizes="48x48" href="/assets/rebrand/images/favicon.ico">
    <link rel="icon" sizes="any" href="/assets/rebrand/images/favicon.svg" type="image/svg+xml">
    <link rel="mask-icon" href="/assets/rebrand/images/govuk-icon-mask.svg" color="#1d70b8">
    <link rel="apple-touch-icon" href="/assets/rebrand/images/govuk-icon-180.png">
    <link rel="manifest" href="/assets/rebrand/manifest.json">
    <meta property="og:image" content="/assets/rebrand/images/govuk-opengraph-image.png">
    
    <link href="@(StaticAssetsVersioningHelper.GetAppCssFilename())" rel="stylesheet" />

    @{ await Html.RenderPartialAsync("_Tracking"); }
</head>

<body class="govuk-template__body app-body-class">
    <script>
        document.body.className += ' js-enabled' + ('noModule' in HTMLScriptElement.prototype ? ' govuk-frontend-supported' : '');
    </script>

    @if (!CookieHelper.HasSeenLatestCookieMessage(Context.Request) && !ViewContext.RouteData.Values["action"].Equals("CookieSettingsGet"))
    {
        await Html.RenderPartialAsync("/Views/Components/CookieBanner.cshtml");
    }

    <a href="#main-content" class="govuk-skip-link" data-module="govuk-skip-link">Skip to main content</a>

    @await Html.GovUkHeader(new HeaderViewModel
    {
        HomepageUrl = "https://gov.uk"
    })

    @{
        List<ServiceNavigationItemViewModel> headerNavigationLinks = [];
        if (ViewBag.ServiceUnavailable != true)
        {
            headerNavigationLinks.Add(new ServiceNavigationItemViewModel
            {
                HtmlOrText = new HtmlOrText("Search and compare"),
                Href = Url.Action("SearchPage", "Search")
            });
            headerNavigationLinks.Add(new ServiceNavigationItemViewModel
            {
                HtmlOrText = new HtmlOrText("Download"),
                Href = Url.Action("Download", "Download")
            });
            headerNavigationLinks.Add(new ServiceNavigationItemViewModel
            {
                HtmlOrText = new HtmlOrText("Guidance for employers"),
                Href = "https://www.gov.uk/government/publications/gender-pay-gap-reporting-guidance-for-employers"
            });

            if (User.IsInRole(LoginRoles.GpgAdmin))
            {
                headerNavigationLinks.Add(new ServiceNavigationItemViewModel
                {
                    HtmlOrText = new HtmlOrText("Admin"),
                    Href = Url.Action("AdminHomePage", "AdminHomepage")
                });
            }

            if (User.Identity.IsAuthenticated)
            {
                headerNavigationLinks.Add(new ServiceNavigationItemViewModel
                {
                    HtmlOrText = new HtmlOrText("Sign out"),
                    Href = Url.Action("Logout", "Login"),
                    Attributes = new() {{ "class", "sign-out-link" }}
                });
            }
            else
            {
                headerNavigationLinks.Add(new ServiceNavigationItemViewModel
                {
                    HtmlOrText = new HtmlOrText("Sign in"),
                    Href = Url.Action("ManageOrganisationsGet", "ManageOrganisations"),
                    Attributes = new() {{ "class", "sign-out-link" }}
                });
            }
        }
        
        @await Html.GovUkServiceNavigation(
            new ServiceNavigationViewModel
            {
                ServiceName = "Gender pay gap service",
                ServiceUrl = Url.Action("Index", "Homepage"),
                NavigationItems = headerNavigationLinks
            })
        
    }

    <div class="govuk-width-container">
        
        @if (ViewBag.ServiceUnavailable != true)
        {
            @(await Html.GovUkPhaseBanner(new PhaseBannerViewModel
            {
                Tag = new TagViewModel
                {
                    HtmlOrText = new HtmlOrText("Beta")
                },
                HtmlOrText = new HtmlOrText(
                    @<text>
                         This is a new service – your
                         <a class="govuk-link" href="@Url.Action("SendFeedbackGet", "Feedback")">
                             feedback</a>
                         will help us to improve it.
                     </text>)
            }))
        }

        @(RenderSection("BeforeMain", false))

        <main class="govuk-main-wrapper" id="main-content" role="main">
            @RenderBody()
        </main>
    </div>

    @(await Html.GovUkFooter(new FooterViewModel
    {
        Meta = new FooterMetaViewModel
        {
            Items = [
                new FooterItemViewModel
                {
                    Text = "Contact Us",
                    Href = Url.Action("ContactUs", "StaticPages")
                },
                new FooterItemViewModel
                {
                    Text = "Cookies",
                    Href = Url.Action("CookieSettingsGet", "Cookie")
                },
                new FooterItemViewModel
                {
                    Text = "Privacy Policy",
                    Href = Url.Action("PrivacyPolicyGet", "PrivacyPolicy")
                },
                new FooterItemViewModel
                {
                    Text = "Report Concerns",
                    Href = Url.Action("ReportConcerns", "StaticPages")
                },
                new FooterItemViewModel
                {
                    Text = "Accessibility Statement",
                    Href = Url.Action("AccessibilityStatement", "StaticPages")
                }
            ]
        }
    }))

    <script src="@(StaticAssetsVersioningHelper.GetAppJsFilename())"></script>
    <script type="module" src="/assets/scripts/govuk-frontend-5.10.2.min.js"></script>
    <script type="module">
        import { initAll } from '/assets/scripts/govuk-frontend-5.10.2.min.js'
        initAll()
    </script>
    @RenderSection("AfterLoadedCompiledScripts", false)
</body>
</html>