@using GenderPayGap.Core
@using GenderPayGap.Core.Helpers
@using GenderPayGap.Database
@using GenderPayGap.WebUI.Helpers
@using GenderPayGap.WebUI.Models.ViewReports
@model GenderPayGap.WebUI.Models.ViewReports.ActionPlanForYearContentViewModel

@{
    List<ActionInActionPlan> embeddedActions = Model.ActionPlan?.GetCompletedActions() ?? [];
    bool hasEmbeddedActions = embeddedActions.Any();
    
    int nextSectionNumber = 3;

    if (hasEmbeddedActions)
    {
        nextSectionNumber++;
    }

    int aboutOrganisationSectionNumber = nextSectionNumber;
}


<h2 class="govuk-heading-m">
    Contents
</h2>
<ol class="govuk-list govuk-list--number">
    <li>
        <a href="#intro"
           class="govuk-link">
            Introduction
        </a>
    </li>
    <li>
        <a href="#planned-actions"
           class="govuk-link">
            Planned actions
        </a>
    </li>
    @if (hasEmbeddedActions)
    {
        <li>
            <a href="#embedded-actions"
               class="govuk-link">
                Embedded actions
            </a>
        </li>
    }
    <li>
        <a href="#about"
           class="govuk-link">
            About @(Model.Organisation.OrganisationName)
        </a>
    </li>
</ol>

<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
<h2 id="intro" class="govuk-heading-m">
    1. Introduction
</h2>
<details class="govuk-details">
    <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
            What is an action plan?
        </span>
    </summary>
    <div class="govuk-details__text">
        <p class="govuk-body">
            Employers with 250 or more employees can produce and publish a voluntary action plan outlining how they intend to
            address their gender pay gap and support employees experiencing menopause.
            Subject to legislation, these will become mandatory from spring 2027.
        </p>
        <p class="govuk-body">
            To create their action plan, employers review a list of evidence-informed actions recommended by the government.
            They identify any they already routinely do (‘embedded actions’), and choose some new actions to work on
            for the first time or build on something they are already doing (‘planned actions’).
            They must choose at least 2 planned actions:
        </p>
        <ul class="govuk-list govuk-list--bullet">
            <li>one must address an organisation’s gender pay gap</li>
            <li>one must support employees experiencing menopause</li>
        </ul>
        <p class="govuk-body">
            You can
            <a href="https://www.gov.uk/government/collections/action-plans-list-of-actions"
               target="_blank"
               class="govuk-link">
                see the full list of actions (opens in a new window)
            </a>
            and
            <a href="https://www.gov.uk/government/publications/creating-an-action-plan-guidance-for-employers"
               target="_blank"
               class="govuk-link">
                guidance for employers on creating an action plan (opens in a new window)</a>.
        </p>
        <p class="govuk-body">
            For more detail on the process, see the
            <a href="https://www.gov.uk/government/collections/gender-pay-gap-reporting-and-creating-an-action-plan-guidance-for-employers"
               target="_blank"
               class="govuk-link">
                gender pay gap and action plan guidance (opens in a new window)</a>.
        </p>
    </div>
</details>

@if (!string.IsNullOrWhiteSpace(Model.ActionPlan?.SupportingNarrative))
{
    <p class="govuk-body govuk-!-margin-bottom-2">
        @(Model.Organisation.OrganisationName) submitted the following supporting narrative with their action plan:
    </p>
    <partial name="../ViewReports/UserGeneratedFormattedText" model="@(new UserGeneratedFormattedTextViewModel(Model.ActionPlan?.SupportingNarrative))" />
}
@if (UriSanitiser.IsValidHttpOrHttpsLink(Model.ActionPlan?.LinkToReport))
{
    <p class="govuk-body">
        Read
        <a href="@(Model.ActionPlan?.LinkToReport)"
           target="_blank"
           class="govuk-link">
            @(Model.Organisation.OrganisationName)’s equality policies or strategy (opens their website in a new window)
        </a>
    </p>
}

<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
<h2 id="planned-actions" class="govuk-heading-m">
    2. Planned actions
</h2>
<p class="govuk-body">
    @(Model.Organisation.OrganisationName) has committed to  working on these actions in the
    @(ReportingYearsHelper.FormatYearAsReportingPeriodLongFormat(Model.ReportingYear))
    reporting year:
</p>

@{
    List<ActionInActionPlan> newInProgressActions = Model.ActionPlan != null
        ? Model.ActionPlan.ActionsInActionPlans.Where(a => a.NewStatus == ActionStatus.NewOrInProgress).ToList()
        : [];
}
@foreach (ActionInActionPlan actionInActionPlan in newInProgressActions)
{
    <h3 class="govuk-heading-s govuk-!-margin-bottom-2">
        @(actionInActionPlan.ActionDetails.Name)
    </h3>
    <p class="govuk-body">
        @(actionInActionPlan.ActionDetails.Summary)
    </p>
    
    @if (!string.IsNullOrWhiteSpace(actionInActionPlan.SupportingText))
    {
        <p class="govuk-body govuk-!-margin-bottom-2">
            @(Model.Organisation.OrganisationName) said:
        </p>
        <partial name="../ViewReports/UserGeneratedFormattedText" model="@(new UserGeneratedFormattedTextViewModel(actionInActionPlan.SupportingText))" />
    }
}

@if (embeddedActions.Any())
{
    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
    <h2 id="embedded-actions" class="govuk-heading-m">
        3. Embedded actions
    </h2>
    <p class="govuk-body">
        @(Model.Organisation.OrganisationName) has indicated that the following actions are already an established part of their working practice.
    </p>

    foreach (ActionInActionPlan actionInActionPlan in embeddedActions)
    {
        <h3 class="govuk-heading-s govuk-!-margin-bottom-2">
            @(actionInActionPlan.ActionDetails.Name)
        </h3>
        <p class="govuk-body">
            @(actionInActionPlan.ActionDetails.Summary)
        </p>
        
        @if (!string.IsNullOrWhiteSpace(actionInActionPlan.SupportingText))
        {
            <p class="govuk-body govuk-!-margin-bottom-2">
                @(Model.Organisation.OrganisationName) said:
            </p>
            <partial name="../ViewReports/UserGeneratedFormattedText" model="@(new UserGeneratedFormattedTextViewModel(actionInActionPlan.SupportingText))" />
        }
    }
}

<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
<h2 id="about" class="govuk-heading-m">
    @(aboutOrganisationSectionNumber). About @(Model.Organisation.OrganisationName)
</h2>

<dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            Registered address
        </dt>
        <dd class="govuk-summary-list__value">
            @(Model.Organisation.GetLatestAddress()?.GetAddressString())
        </dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            Sector
        </dt>
        <dd class="govuk-summary-list__value">
            @(Model.Organisation.GetSicSectorsString())
        </dd>
    </div>
    @if (Model.Organisation.SectorType == SectorTypes.Private)
    {
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Person responsible
            </dt>
            <dd class="govuk-summary-list__value">
                @(Model.ActionPlan?.ResponsiblePerson)
            </dd>
        </div>
    }
</dl>
