@using GenderPayGap.Core
@using GenderPayGap.Core.Helpers
@using GenderPayGap.Database
@using GenderPayGap.WebUI.Helpers
@model GenderPayGap.Database.ActionPlan


<h2 class="govuk-heading-m">
    Contents
</h2>
<ol class="govuk-list govuk-list--number">
    <li>
        <a href="#intro"
           class="govuk-link">
            Introduction
        </a>
    </li>
    <li>
        <a href="#actions-planned"
           class="govuk-link">
            Actions planned
        </a>
    </li>
    <li>
        <a href="#actions-completed"
           class="govuk-link">
            Actions completed
        </a>
    </li>
    <li>
        <a href="#about"
           class="govuk-link">
            About @(Model.Organisation.OrganisationName)
        </a>
    </li>
</ol>

<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
<h2 id="intro" class="govuk-heading-m">
    1. Introduction
</h2>
<details class="govuk-details">
    <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
            What is an action plan?
        </span>
    </summary>
    <div class="govuk-details__text">
        <p class="govuk-body">
            Any employer who has a headcount of 250 or more on their ‘snapshot date’ at
            the end of the financial year must submit an action plan outlining how they
            intend to address the gender pay gap and to support employees going through
            menopause.
        </p>
        <p class="govuk-body">
            Employers review actions from our database, identify any they already routinely
            do, and choose some new actions to focus on. You can also
            <a href="#"
               class="govuk-link">
                see the full list of actions in our database</a>.
        </p>
        <p class="govuk-body">
            For more detail on the process, see the
            <a href="#"
               class="govuk-link">
                gender pay gap and action plan guidance</a>.
        </p>
    </div>
</details>

@if (!string.IsNullOrWhiteSpace(Model.SupportingNarrative))
{
    <p class="govuk-body govuk-!-margin-bottom-2">
        @(Model.Organisation.OrganisationName) said:
    </p>
    <div class="govuk-inset-text govuk-!-margin-top-2">
        @(Model.SupportingNarrative)
    </div>
}
@if (UriSanitiser.IsValidHttpOrHttpsLink(Model.LinkToReport))
{
    <p class="govuk-body">
        Read more about
        <a href="@(Model.LinkToReport)"
           target="_blank"
           class="govuk-link">
            what @(Model.Organisation.OrganisationName) says about their action plan (opens in a new window)
        </a>
    </p>
}

<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
<h2 id="actions-planned" class="govuk-heading-m">
    2. Actions planned
</h2>
<p class="govuk-body">
    @(Model.Organisation.OrganisationName) has committed to embedding these actions:
</p>

@foreach (ActionInActionPlan actionInActionPlan in Model.ActionsInActionPlans.Where(a => a.NewStatus == ActionStatus.NewOrInProgress))
{
    <h3 class="govuk-heading-s govuk-!-margin-bottom-2">
        @(ActionsHelper.DictionaryOfAllActions[actionInActionPlan.Action].Name)
    </h3>
    <p class="govuk-body">
        @(ActionsHelper.DictionaryOfAllActions[actionInActionPlan.Action].Summary)
    </p>
    
    @if (!string.IsNullOrWhiteSpace(actionInActionPlan.SupportingText))
    {
        <p class="govuk-body govuk-!-margin-bottom-2">
            @(Model.Organisation.OrganisationName) said:
        </p>
        <div class="govuk-inset-text govuk-!-margin-top-2">
            @(actionInActionPlan.SupportingText)
        </div>
    }
}

<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
<h2 id="actions-completed" class="govuk-heading-m">
    3. Actions already completed
</h2>
<p class="govuk-body">
    This section explains what @(Model.Organisation.OrganisationName) have already done and plan to do on workplace equality.
</p>

@{
    List<ActionInActionPlan> completedActions = Model.ActionsInActionPlans.Where(a => a.NewStatus == ActionStatus.Completed).ToList();
}
@if (completedActions.Any())
{
    foreach (ActionInActionPlan actionInActionPlan in completedActions)
    {
        <h3 class="govuk-heading-s govuk-!-margin-bottom-2">
            @(ActionsHelper.DictionaryOfAllActions[actionInActionPlan.Action].Name)
        </h3>
        <p class="govuk-body">
            @(ActionsHelper.DictionaryOfAllActions[actionInActionPlan.Action].Summary)
        </p>
        
        @if (!string.IsNullOrWhiteSpace(actionInActionPlan.SupportingText))
        {
            <p class="govuk-body govuk-!-margin-bottom-2">
                @(Model.Organisation.OrganisationName) said:
            </p>
            <div class="govuk-inset-text govuk-!-margin-top-2">
                @(actionInActionPlan.SupportingText)
            </div>
        }
    }
}
else
{
    <p class="govuk-body">
        @(Model.Organisation.OrganisationName) has not marked any of our actions on workplace equality as "Completed".
    </p>
    <p class="govuk-body">
        It is optional for employers to mark actions as "Completed".
    </p>
}

<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
<h2 id="about" class="govuk-heading-m">
    4. About @(Model.Organisation.OrganisationName)
</h2>

<dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            Registered address
        </dt>
        <dd class="govuk-summary-list__value">
            @(Model.Organisation.GetLatestAddress()?.GetAddressString())
        </dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            Sector
        </dt>
        <dd class="govuk-summary-list__value">
            @(Model.Organisation.GetSicSectorsString())
        </dd>
    </div>
</dl>
