@using GenderPayGap.WebUI.Models.Admin
@using GovUkDesignSystemDotNet
@model GenderPayGap.WebUI.Models.Admin.ChangeOrganisationAddressViewModel

@{
    ViewBag.Title = $"Change address - {Model.Organisation.OrganisationName} - Administration - Gender pay gap service";
}

@section BeforeMain {
    @await Html.GovUkBreadcrumbs(new()
    {
        Crumbs = [
            new()
            {
                HtmlOrText = new("Admin"),
                Href = Url.Action("AdminHomePage", "AdminHomepage")
            },
            new()
            {
                HtmlOrText = new(Model.Organisation.OrganisationName),
                Href = Url.Action("ViewOrganisation", "AdminViewOrganisation", new {id = Model.Organisation.OrganisationId})
            },
            new()
            {
                HtmlOrText = new("Address history"),
                Href = Url.Action("ViewAddressHistory", "AdminOrganisationAddress", new {id = Model.Organisation.OrganisationId})
            },
            new()
            {
                HtmlOrText = new("Change address")
            }
        ]
    })
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <span class="govuk-caption-xl">Administration</span>
        <h1 class="govuk-heading-xl">
            Change address
            <br />
            <span class="govuk-!-font-size-27">
                for @(Model.Organisation.OrganisationName)
            </span>
        </h1>

        <form method="post" action="@Url.Action("ChangeAddressPost", "AdminOrganisationAddress", new { id = Model.Organisation.OrganisationId })">
            @(Html.AntiForgeryToken())
            @(Html.HiddenFor(m => m.Action))

            @(await Html.GovUkErrorSummaryIfNeeded([
                nameof(ChangeOrganisationAddressViewModel.IsUkAddress),
                nameof(ChangeOrganisationAddressViewModel.Reason),
            ]))

            <fieldset class="govuk-fieldset">

                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                    <h2 class="govuk-fieldset__heading">
                        What is their address?
                    </h2>
                </legend>

                @(await Html.GovUkTextInputFor(
                    m => m.PoBox,
                    new()
                    {
                        Label = new() { HtmlOrText = new("PO Box") },
                        Classes = ["govuk-input--width-10"],
                        FormGroup = new() { Classes = ["govuk-!-margin-bottom-3"] }
                    }
                ))
                @(await Html.GovUkTextInputFor(
                    m => m.Address1,
                    new()
                    {
                        Label = new() { HtmlOrText = new("Address line 1") },
                        FormGroup = new() { Classes = ["govuk-!-margin-bottom-3"] },
                        Autocomplete = "address-line1"
                    }
                ))
                @(await Html.GovUkTextInputFor(
                    m => m.Address2,
                    new() {
                        Label = new() { HtmlOrText = new("Address line 2") },
                        FormGroup = new() { Classes = ["govuk-!-margin-bottom-3"] },
                        Autocomplete = "address-line2"
                    }
                ))
                @(await Html.GovUkTextInputFor(
                    m => m.Address3,
                    new()
                    {
                        Label = new() {HtmlOrText = new("Address line 3")},
                        FormGroup = new() {Classes = ["govuk-!-margin-bottom-3"]},
                        Autocomplete = "address-line3"
                    }
                ))
                @(await Html.GovUkTextInputFor(
                    m => m.TownCity,
                    new()
                    {
                        Label = new() {HtmlOrText = new("Town / city")},
                        Classes = ["govuk-input--width-20"],
                        FormGroup = new() {Classes = ["govuk-!-margin-bottom-3"]},
                        Autocomplete = "address-level2"
                    }
                ))
                @(await Html.GovUkTextInputFor(
                    m => m.County,
                    new()
                    {
                        Label = new() {HtmlOrText = new("County")},
                        Classes = ["govuk-input--width-20"],
                        FormGroup = new() {Classes = ["govuk-!-margin-bottom-3"]},
                        Autocomplete = "address-level1"
                    }
                ))
                @(await Html.GovUkTextInputFor(
                    m => m.Country,
                    new()
                    {
                        Label = new() {HtmlOrText = new("Country")},
                        Classes = ["govuk-input--width-20"],
                        FormGroup = new() {Classes = ["govuk-!-margin-bottom-3"]},
                        Autocomplete = "country-name"
                    }
                ))
                @(await Html.GovUkTextInputFor(
                    m => m.PostCode,
                    new()
                    {
                        Label = new() {HtmlOrText = new("Post code")},
                        Classes = ["govuk-input--width-10"],
                        FormGroup = new() {Classes = ["govuk-!-margin-bottom-3"]},
                        Autocomplete = "postal-code"
                    }
                ))
            </fieldset>

            @(await Html.GovUkRadiosFor(
                m => m.IsUkAddress,
                new()
                {
                    Fieldset = new()
                    {
                        Legend = new()
                        {
                            HtmlOrText = new("Is this a UK address?"),
                            Classes = ["govuk-fieldset__legend--m"]
                        },
                        Classes = ["govuk-!-margin-top-4"]
                    }
                }
            ))

            @(await Html.GovUkCharacterCountFor(
                m => m.Reason,
                new()
                {
                    Label = new()
                    {
                        HtmlOrText = new("What is the reason for this change?"),
                        Classes = ["govuk-label--m"]
                    }
                }
            ))

            @(await Html.GovUkButton(new()
            {
                HtmlOrText = new("Continue"),
                Classes = ["govuk-!-margin-bottom-4"]
            }))

            <p class="govuk-body">
                <a href="@Url.Action("ViewOrganisation", "AdminViewOrganisation", new { id = Model.Organisation.OrganisationId })"
                   class="govuk-link">
                    Cancel and return to organisation page
                </a>
            </p>

        </form>

    </div>
</div>

