@using GenderPayGap.Core
@using GenderPayGap.WebUI.Models.SendFeedback
@using GovUkDesignSystemDotNet
@model GenderPayGap.WebUI.Models.SendFeedback.FeedbackViewModel
@{
    ViewBag.Title = "Give feedback about the gender pay gap service - Gender pay gap service - GOV.UK";
}

@section BeforeMain {
    @(await Html.GovUkBackLink(new()
    {
        HtmlOrText = new("Back"),
        OverrideWithJavascript = true
    }))
}

<div class="govuk-grid-row cookie-settings-page">
    <div class="govuk-grid-column-two-thirds">
        <form method="POST" action="@Url.Action("SendFeedbackPost", "Feedback")">
            @(Html.AntiForgeryToken())
            <h1 class="govuk-heading-xl">
                Give feedback about the gender pay gap service
            </h1>
            <div class="govuk-form-group">

                @(await Html.GovUkErrorSummaryIfNeeded([
                    nameof(FeedbackViewModel.HowEasyIsThisServiceToUse),
                    nameof(FeedbackViewModel.HowDidYouHearAboutGpg),
                    nameof(FeedbackViewModel.WhyVisitGpgSite),
                    nameof(FeedbackViewModel.WhoAreYou)
                ]))

                @(await Html.GovUkRadiosFor(
                    m => m.HowEasyIsThisServiceToUse,
                    new()
                    {
                        Fieldset = new()
                        {
                            Legend = new()
                            {
                                HtmlOrText = new("How easy was this service to use?"),
                                Classes = ["govuk-fieldset__legend--m"]
                            },
                            Classes = ["govuk-!-margin-top-6"]
                        }
                    } 
                ))

                @(await Html.GovUkCharacterCountFor(
                    m => m.Details,
                    new()
                    {
                        Label = new()
                        {
                            HtmlOrText = new("How could we improve your experience?"),
                            Classes = ["govuk-label--m"]
                        },
                        FormGroup = new()
                        {
                            Classes = ["govuk-!-margin-top-6"]
                        }
                    }
                ))

                @(await Html.GovUkCheckboxesFor(
                    m => m.HowDidYouHearAboutGpg,
                    new()
                    {
                        Fieldset = new()
                        {
                            Legend = new()
                            {
                                HtmlOrText = new("How did you hear about the gender pay gap service?"),
                                Classes = ["govuk-fieldset__legend--m"]
                            },
                            Classes = ["govuk-!-margin-top-6"]
                        },
                        Hint = new()
                        {
                            HtmlOrText = new("Select all that apply.")
                        },
                    },
                    checkboxItemViewModels: new()
                    {{
                        HowDidYouHearAboutGpg.Other,
                        new()
                        {
                            Conditional = new(
                                @<text>
                                    @(await Html.GovUkTextInputFor(
                                        m => m.OtherSourceText,
                                        new()
                                        {
                                            Label = new()
                                            {
                                                HtmlOrText = new("Other source description"),
                                                Classes = ["govuk-visually-hidden"],
                                            }
                                        }
                                    ))
                                 </text>)
                        }
                    }}
                ))

                @(await Html.GovUkCheckboxesFor(
                    m => m.WhyVisitGpgSite,
                    new()
                    {
                        Fieldset = new()
                        {
                            Legend = new()
                            {
                                HtmlOrText = new("Why have you visited the site?"),
                                Classes = ["govuk-fieldset__legend--m"]
                            },
                            Classes = ["govuk-!-margin-top-6"]
                        },
                        Hint = new()
                        {
                            HtmlOrText = new("Select all that apply.")
                        },
                    },
                    checkboxItemViewModels: new()
                    {{
                        WhyVisitGpgSite.Other,
                        new()
                        {
                            Conditional = new(
                                @<text>
                                     @(await Html.GovUkTextInputFor(
                                         m => m.OtherReasonText,
                                         new()
                                         {
                                             Label = new()
                                             {
                                                 HtmlOrText = new("Other reason description"),
                                                 Classes = ["govuk-visually-hidden"],
                                             }
                                         }
                                     ))
                                 </text>)
                        }
                    }}
                ))

                @(await Html.GovUkCheckboxesFor(
                    m => m.WhoAreYou,
                    new()
                    {
                        Fieldset = new()
                        {
                            Legend = new()
                            {
                                HtmlOrText = new("Which of these best describe you?"),
                                Classes = ["govuk-fieldset__legend--m"]
                            },
                            Classes = ["govuk-!-margin-top-6"]
                        },
                        Hint = new()
                        {
                            HtmlOrText = new("Select all that apply.")
                        },
                    },
                    checkboxItemViewModels: new()
                    {{
                        WhoAreYou.Other,
                        new()
                        {
                            Conditional = new(
                                @<text>
                                     @(await Html.GovUkTextInputFor(
                                         m => m.OtherPersonText,
                                         new()
                                         {
                                             Label = new()
                                             {
                                                 HtmlOrText = new("Other person description"),
                                                 Classes = ["govuk-visually-hidden"],
                                             }
                                         }
                                     ))
                                 </text>)
                        }
                    }}
                ))

                <fieldset class="govuk-fieldset govuk-!-margin-top-6">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                        Can we contact you?
                    </legend>
                    <div class="govuk-hint">
                        We sometimes like to follow up on the feedback that has been submitted to us.
                        If you are happy for us to get in touch with you, please enter your email address and/or phone number below.
                        For more information about how we use your data, see our
                        <a href="@(Url.Action("PrivacyPolicyGet", "PrivacyPolicy"))" class="govuk-link">privacy policy</a>
                    </div>

                    @(await Html.GovUkTextInput(new()
                    {
                        Label = new()
                        {
                            HtmlOrText = new("Your email address (optional)")
                        },
                        Name = nameof(Model.EmailAddress),
                        InputMode = "email"
                    }))

                    @(await Html.GovUkTextInput(new()
                    {
                        Label = new()
                        {
                            HtmlOrText = new("Your phone number (optional)")
                        },
                        Name = nameof(Model.PhoneNumber),
                        InputMode = "tel"
                    }))
                </fieldset>

                @(await Html.GovUkButton(new()
                {
                    HtmlOrText = new("Submit"),
                    Classes = ["govuk-!-margin-top-6"]
                }))

            </div>
        </form>
        
        <h2 class="govuk-heading-m">
            If you need help
        </h2>
        <p class="govuk-body govuk-!-margin-bottom-2">
            Email us at
            <a href="mailto:@(Global.GpgReportingEmail)"
               class="govuk-link">
                @(Global.GpgReportingEmail)</a>
            if you:
        </p>
        <ul class="govuk-list govuk-list--bullet">
            <li>need help with technical difficulties, managing your account, or using the gender pay gap service</li>
            <li>use an assistive technology, such as a screen reader, and cannot access all or part of the service</li>
        </ul>
        <p class="govuk-body">
            We cannot give case-by-case guidance on how you should calculate your gender pay gap or interpret the regulations.
        </p>

    </div>
</div>
