@using GenderPayGap.WebUI.Helpers
@using GenderPayGap.WebUI.Models.Admin
@using GovUkDesignSystemDotNet
@model GenderPayGap.WebUI.Models.Admin.AdminChangePublicSectorClassificationViewModel

@{
    ViewBag.Title = $"Change public-sector classification - {Model.OrganisationName} - Administration - Gender pay gap service";
}

@section BeforeMain {
    @await Html.GovUkBreadcrumbs(new()
    {
        Crumbs = [
            new()
            {
                HtmlOrText = new("Admin"),
                Href = Url.Action("AdminHomePage", "AdminHomepage")
            },
            new()
            {
                HtmlOrText = new(Model.OrganisationName),
                Href = Url.Action("ViewOrganisation", "AdminViewOrganisation", new {id = Model.OrganisationId})
            },
            new()
            {
                HtmlOrText = new("Change public-sector classification")
            }
        ]
    })
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <span class="govuk-caption-xl">Administration</span>
        <h1 class="govuk-heading-xl">
            Change public-sector classification
            <br />
            <span class="govuk-!-font-size-27">
                for @(Model.OrganisationName)
            </span>
        </h1>

        @(await Html.GovUkErrorSummaryIfNeeded())

        
        <form method="post" action="@Url.Action("ChangePublicSectorClassificationPost", "AdminOrganisationSector", new {id = Model.OrganisationId})">
            @(Html.AntiForgeryToken())

            @{
                var error = ModelErrorHelper.GetErrorMessage(ViewData.ModelState, nameof(Model.SelectedPublicSectorTypeId));
                ErrorMessageViewModel errorMessageViewModel = error != null ? new ErrorMessageViewModel {HtmlOrText = new(error)} : null;
            }
            @(await Html.GovUkRadios(new RadiosViewModel
            {
                Name = nameof(AdminChangePublicSectorClassificationViewModel.SelectedPublicSectorTypeId),
                Fieldset = new FieldsetViewModel
                {
                    Legend = new()
                    {
                        HtmlOrText = new(@<text>
                                              What type of public sector organisation is @(Model.OrganisationName)?
                                          </text>),
                        Classes = ["govuk-fieldset__legend--m"]
                    }
                },
                RadioItems = Model.PublicSectorTypes
                        .Select(publicSectorType =>
                        {
                            string fieldName = nameof(AdminChangePublicSectorClassificationViewModel.SelectedPublicSectorTypeId);
                            int fieldValue = publicSectorType.PublicSectorTypeId;
                            string fieldId = $"{fieldName}_{fieldValue}";

                            return new RadioItemViewModel
                            {
                                Name = fieldName,
                                Value = fieldValue.ToString(),
                                Id = fieldId,
                                Checked = Model.SelectedPublicSectorTypeId == fieldValue,
                                Label = new LabelViewModel
                                {
                                    HtmlOrText = new(publicSectorType.Description),
                                    For = fieldId
                                }
                            };
                        })
                        .ToList(),
                ErrorMessage = errorMessageViewModel
            }))
            
            @(await Html.GovUkCharacterCountFor(
                m => m.Reason,
                new()
                {
                    Label = new()
                    {
                        HtmlOrText = new("What is the reason for this change?"),
                        Classes = ["govuk-label--m"]
                    }
                }
            ))

            @(await Html.GovUkButton(new()
            {
                HtmlOrText = new("Confirm and save"),
                Classes = ["govuk-!-margin-right-2", "govuk-!-margin-bottom-4"]
            }))
        </form>

    </div>
</div>
