@using GovUkDesignSystemDotNet
@model AdminChangeUserContactPreferencesViewModel

@{
    ViewBag.Title = $"Change contact preferences - {Model.FullName} - Administration - Gender pay gap service";
}

@section BeforeMain {
    @await Html.GovUkBreadcrumbs(new()
    {
        Crumbs = [
            new()
            {
                HtmlOrText = new("Admin"),
                Href = Url.Action("AdminHomePage", "AdminHomepage")
            },
            new()
            {
                HtmlOrText = new(Model.FullName),
                Href = Url.Action("ViewUser", "AdminViewUser", new {id = Model.UserId})
            },
            new()
            {
                HtmlOrText = new("Change contact preferences")
            }
        ]
    })
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <span class="govuk-caption-xl">Administration</span>
        <h1 class="govuk-heading-xl">
            Change contact preferences
            <br />
            <span class="govuk-!-font-size-27">
                for @(Model.FullName)
            </span>
        </h1>
        
        @(await Html.GovUkErrorSummaryIfNeeded())

        <form method="post" action="@Url.Action("ChangeContactPreferencesPost", "AdminUserContactPreferences", new { id = Model.UserId })">
            @(Html.AntiForgeryToken())
            
            @(await Html.GovUkCheckboxItemFor(
                m => m.AllowContact,
                new()
                {
                    Label = new()
                    {
                        HtmlOrText = new("Happy to be contacted")
                    }
                }
            ))
            
            @(await Html.GovUkCheckboxItemFor(
                m => m.SendUpdates,
                new()
                {
                    Label = new()
                    {
                        HtmlOrText = new("Would like to receive updates")
                    }
                }
            ))
            
            @(await Html.GovUkCharacterCountFor(
                m => m.Reason,
                new()
                {
                    Label = new()
                    {
                        HtmlOrText = new("What is the reason for this change?"),
                        Classes = ["govuk-label--m"]
                    },
                    FormGroup = new()
                    {
                        Classes = ["govuk-!-margin-top-6"]
                    }
                }
            ))

            @(await Html.GovUkButton(new()
            {
                HtmlOrText = new("Confirm and save"),
                Classes = ["govuk-!-margin-bottom-4"]
            }))

            <p class="govuk-body">
                <a href="@Url.Action("ViewUser", "AdminViewUser", new { id = Model.UserId })"
                   class="govuk-link">
                    Cancel and return to user page
                </a>
            </p>

        </form>

    </div>
</div>
