@using GovUkDesignSystemDotNet
@model GenderPayGap.WebUI.Models.AddOrganisation.AddOrganisationManualViewModel
@{
    ViewBag.Title = "Registered address of employer - Gender pay gap service";
}

@section BeforeMain {
    @{
        Model.Validate = null; // Required to make the "Back" link work correctly
        string backLinkHref;
        if (Model.Editing == true)
        {
            Model.Editing = null; // To make the url look a bit nicer (the Review page implies we're editing so there's no need for "Editing" in the url)
            backLinkHref = Url.Action("ManualConfirmGet", "AddOrganisationManualConfirm", Model);
        }
        else
        {
            backLinkHref = Url.Action("ManualName", "AddOrganisationManualName", Model);
        }
    }
    @(await Html.GovUkBackLink(new BackLinkViewModel
    {
        HtmlOrText = new("Back"),
        Href = backLinkHref,
        
        // Note: some of the "Back" links in this journey can't use the default browser behaviour
        //  so we should control all of them explicitly
        OverrideWithJavascript = false
    }))
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        
        @(await Html.GovUkErrorSummaryIfNeeded())

        <form method="get"
              action="@Url.Action("ManualAddress", "AddOrganisationManualAddress")">
            @(Html.HiddenFor(m => m.Editing))
            @(Html.HiddenFor(m => m.Sector))
            @(Html.HiddenFor(m => m.Query))
            @(Html.HiddenFor(m => m.OrganisationName))
            @if (Model.SicCodes != null)
            {
                @foreach (int sicCode in Model.SicCodes)
                {
                    <input type="hidden" name="@(nameof(Model.SicCodes))" value="@(sicCode)" />
                }
            }
            @{
                Model.Validate = true;
                @(Html.HiddenFor(m => m.Validate))
            }

            <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                    <h1 class="govuk-fieldset__heading">
                        Registered address of employer
                    </h1>
                </legend>

                @(await Html.GovUkTextInputFor(
                    m => m.PoBox,
                    new()
                    {
                        Label = new() { HtmlOrText = new("PO Box (optional)") },
                        Classes = ["govuk-input--width-10"]
                    }
                ))
                @(await Html.GovUkTextInputFor(
                    m => m.Address1,
                    new()
                    {
                        Label = new() { HtmlOrText = new(@<text>
                                                              Building and street <span class="govuk-visually-hidden">line 1 of 3</span>
                                                          </text>) },
                        Autocomplete = "address-line1"
                    }
                ))
                @(await Html.GovUkTextInputFor(
                    m => m.Address2,
                    new()
                    {
                        Label = new()
                        {
                            HtmlOrText = new("Building and street line 2 of 3 (optional)"),
                            Classes = ["govuk-visually-hidden"]
                        },
                        Autocomplete = "address-line2"
                    }
                ))
                @(await Html.GovUkTextInputFor(
                    m => m.Address3,
                    new()
                    {
                        Label = new()
                        {
                            HtmlOrText = new("Building and street line 3 of 3 (optional)"),
                            Classes = ["govuk-visually-hidden"]
                        },
                        Autocomplete = "address-line3"
                    }
                ))
                @(await Html.GovUkTextInputFor(
                    m => m.TownCity,
                    new()
                    {
                        Label = new() { HtmlOrText = new("Town or city (optional)") },
                        Classes = ["govuk-input--width-20"],
                        Autocomplete = "address-level2"
                    }
                ))
                @(await Html.GovUkTextInputFor(
                    m => m.County,
                    new()
                    {
                        Label = new() { HtmlOrText = new("County (optional)") },
                        Classes = ["govuk-input--width-20"],
                        Autocomplete = "address-level1"
                    }
                ))
                @(await Html.GovUkTextInputFor(
                    m => m.Country,
                    new()
                    {
                        Label = new() { HtmlOrText = new("Country (optional)") },
                        Classes = ["govuk-input--width-20"],
                        Autocomplete = "country-name"
                    }
                ))
                @(await Html.GovUkTextInputFor(
                    m => m.PostCode,
                    new()
                    {
                        Label = new() { HtmlOrText = new("Postcode (optional)") },
                        Classes = ["govuk-input--width-10"],
                        Autocomplete = "postal-code"
                    }
                ))
                @(await Html.GovUkRadiosFor(
                    m => m.IsUkAddress,
                    new ()
                    {
                        Fieldset = new()
                        {
                            Legend = new()
                            {
                                HtmlOrText = new("Is this a UK address?"),
                                Classes = ["govuk-fieldset__legend--s", "govuk-!-font-weight-regular"]
                            }
                        },
                        Classes = ["govuk-radios--inline"]
                    }
                ))

            </fieldset>

            @(await Html.GovUkButton(new ButtonViewModel
            {
                HtmlOrText = new("Continue"),
                Classes = ["govuk-!-margin-bottom-4"]
            }))

            <p class="govuk-body">
                <a href="@Url.Action("ManageOrganisationsGet", "ManageOrganisations")"
                   class="govuk-link">
                    Cancel and return to Manage Employers
                </a>
            </p>

        </form>

    </div>
</div>
