@using GovUkDesignSystemDotNet
@model GenderPayGap.WebUI.Models.Admin.AdminResendVerificationEmailViewModel

@{
    ViewBag.Title = $"Re-send verification email - {Model.User.Fullname} - Administration - Gender pay gap service";
}

@section BeforeMain {
    @await Html.GovUkBreadcrumbs(new()
    {
        Crumbs = [
            new()
            {
                HtmlOrText = new("Admin"),
                Href = Url.Action("AdminHomePage", "AdminHomepage")
            },
            new()
            {
                HtmlOrText = new(Model.User.Fullname),
                Href = Url.Action("ViewUser", "AdminViewUser", new {id = Model.User.UserId})
            },
            new()
            {
                HtmlOrText = new("Re-send verification email")
            }
        ]
    })
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <span class="govuk-caption-xl">Administration</span>
        <h1 class="govuk-heading-xl">
            Re-send verification email
            <br />
            <span class="govuk-!-font-size-27">
                for @(Model.User.Fullname)
            </span>
        </h1>

        <form method="post" action="@Url.Action("ResendVerificationEmailPost", "AdminUserResendVerificationEmail", new { id = Model.User.UserId })">
            @(Html.AntiForgeryToken())
            
            @(await Html.GovUkErrorSummaryIfNeeded())

            <table class="govuk-table">
                <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">User's name</th>
                        <td class="govuk-table__cell">@(Model.User.Fullname)</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">User's email address</th>
                        <td class="govuk-table__cell">@(Model.User.EmailAddress)</td>
                    </tr>
                </tbody>
            </table>

            @(await Html.GovUkCharacterCountFor(
                m => m.Reason,
                new()
                {
                    Label = new()
                    {
                        HtmlOrText = new("What is the reason for this change?"),
                        Classes = ["govuk-label--m"]
                    },
                    FormGroup = new()
                    {
                        Classes = ["govuk-!-margin-top-6"]
                    }
                }
            ))

            @(await Html.GovUkButton(new()
            {
                HtmlOrText = new("Re-send verification email"),
                Classes = ["govuk-!-margin-bottom-4"]
            }))

            <p class="govuk-body">
                <a href="@Url.Action("ViewUser", "AdminViewUser", new { id = Model.User.UserId })"
                   class="govuk-link">
                    Cancel and return to user page
                </a>
            </p>

        </form>

    </div>
</div>
