@using GovUkDesignSystemDotNet
@model GenderPayGap.WebUI.Models.Admin.AdminReturnLateFlagViewModel

@{
    ViewBag.Title = "Change late flag - Administration - Gender pay gap service";
}

@section BeforeMain {
    @await Html.GovUkBreadcrumbs(new()
    {
        Crumbs = [
            new()
            {
                HtmlOrText = new("Admin"),
                Href = Url.Action("AdminHomePage", "AdminHomepage")
            },
            new()
            {
                HtmlOrText = new(Model.Return.Organisation.OrganisationName),
                Href = Url.Action("ViewOrganisation", "AdminViewOrganisation", new {id = Model.Return.Organisation.OrganisationId})
            },
            new()
            {
                HtmlOrText = new("Change late flag")
            }
        ]
    })
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <span class="govuk-caption-xl">Administration</span>
        <h1 class="govuk-heading-xl">
            Change late flag
            <br/>
            <span class="govuk-!-font-size-27">
                for @(Model.Return.Organisation.OrganisationName)
            </span>
        </h1>

        @(await Html.GovUkErrorSummaryIfNeeded())

        <table class="govuk-table">
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Reporting year</th>
                    <td class="govuk-table__cell">@(Model.Return.GetReportingPeriod())</td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Current late flag</th>
                    <td class="govuk-table__cell">@(Model.Return.IsLateSubmission ? "Late" : "Not late")</td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">New late flag</th>
                    <td class="govuk-table__cell">@(Model.NewLateFlag.Value ? "Late" : "Not late")</td>
                </tr>
            </tbody>
        </table>

        <form method="POST" action="@Url.Action("ChangeLateFlag", "AdminReturnLateFlag", new {id = Model.Return.ReturnId})">
            @(Html.AntiForgeryToken())
            @(Html.HiddenFor(m => m.NewLateFlag))
            <div class="govuk-form-group">

                @await Html.GovUkCharacterCountFor(
                    m => m.Reason,
                    new()
                    {
                        Label = new()
                        {
                            HtmlOrText = new("What is the reason for this change?"),
                            Classes = ["govuk-label--m"]
                        },
                        FormGroup = new()
                        {
                            Classes = ["govuk-!-margin-top-6"]
                        }
                    }
                )

                @(await Html.GovUkButton(new()
                {
                    HtmlOrText = new("Confirm"),
                    Classes = ["govuk-!-margin-bottom-4"],
                    PreventDoubleClick = true
                }))

                <p class="govuk-body">
                    <a href="@Url.Action("ViewOrganisation", "AdminViewOrganisation", new {id = Model.Return.Organisation.OrganisationId})"
                       class="govuk-link">
                        Cancel and return to organisation page
                    </a>
                </p>

            </div>
        </form>
    </div>
</div>
